<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-course-heading" jhiTranslate="dancekvartalApp.course.home.createOrEditLabel">Create or edit a
                Course</h2>
            <div class="row">
                <div class="col-3">
                    <jhi-alert-error></jhi-alert-error>
                    <div class="form-group" [hidden]="!course.id">
                        <label for="id" jhiTranslate="global.field.id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               [(ngModel)]="course.id" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="dancekvartalApp.course.name"
                               for="field_name">Name</label>
                        <input type="text" class="form-control" name="name" id="field_name"
                               [(ngModel)]="course.name" required/>
                        <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.name?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="dancekvartalApp.course.teacher"
                               for="field_teacher">Teacher</label>
                        <select class="form-control" id="field_teacher" name="teacher" [(ngModel)]="course.teacher">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="teacherOption.id === course.teacher?.id ? course.teacher : teacherOption"
                                    *ngFor="let teacherOption of teachers; trackBy: trackTeacherById">{{teacherOption.firstName}} {{teacherOption.lastName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label jhiTranslate="dancekvartalApp.course.student" for="field_student">Student</label>
                        <select class="form-control" id="field_student" multiple name="student"
                                [(ngModel)]="course.students">
                            <option [ngValue]="getSelected(course.students, studentOption)"
                                    *ngFor="let studentOption of students; trackBy: trackStudentById">{{studentOption.firstName}} {{studentOption.lastName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-9">
                    <div [hidden]="course.lessons.length === 0">
                        <table class="table table-striped">
                            <thead>
                            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                                    <fa-icon [icon]="'sort'"></fa-icon>
                                </th>
                                <th jhiSortBy="date"><span jhiTranslate="dancekvartalApp.lesson.date">Date</span>
                                    <fa-icon [icon]="'sort'"></fa-icon>
                                </th>
                                <th jhiSortBy="teacher.id"><span
                                    jhiTranslate="dancekvartalApp.lesson.students">Students</span>
                                    <fa-icon [icon]="'sort'"></fa-icon>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let lesson of course.lessons ;trackBy: trackId">
                                <td><a [routerLink]="['/lesson', lesson.id, 'view' ]">{{lesson.id}}</a></td>
                                <td>{{lesson.date | date:'medium'}}</td>
                                <td>
                                    <div *ngIf="lesson.students">
                                        <!--<a [routerLink]="['../teacher', lesson.teacher?.id, 'view' ]" >{{lesson.teacher?.id}}</a>-->
                                        {{lesson.students?.length}}
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <a
                                                [routerLink]="['../../../lesson', lesson.id, 'view' ]"
                                                class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline"
                                                  jhiTranslate="entity.action.view">View</span>
                                        </a>
                                        <a
                                                [routerLink]="['/lesson', lesson.id, 'edit']"
                                                class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline"
                                                  jhiTranslate="entity.action.edit">Edit</span>
                                        </a>
                                        <a
                                                [routerLink]="['/', { outlets: { popup: 'lesson/'+ lesson.id + '/delete'} }]"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline"
                                                  jhiTranslate="entity.action.delete">Delete</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lesson"
                                [routerLink]="['/lesson/new']">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span jhiTranslate="dancekvartalApp.lesson.home.createLabel">Create new Lesson</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
