<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lesson">
            <h2><span jhiTranslate="dancekvartalApp.lesson.detail.title">Lesson</span> {{lesson.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dancekvartalApp.lesson.name">Name</span></dt>
                <dd>
                    <span>{{lesson.name}}</span>
                </dd>
                <dt><span jhiTranslate="dancekvartalApp.lesson.date">Date</span></dt>
                <dd>
                    <span>{{lesson.date.format('YYYY-MM-DD HH-mm')}}</span>
                </dd>
                <dt><span jhiTranslate="dancekvartalApp.lesson.student">Student</span></dt>
                <dd>
                    <li *ngFor="let student of lesson.students; let last = last">
                        <a [routerLink]="['/student', student?.id, 'view' ]">{{student.firstName}} {{student.lastName}}</a>
                    </li>
                </dd>
                <dt><span jhiTranslate="dancekvartalApp.lesson.course">Course</span></dt>
                <dd>
                    <div *ngIf="lesson.course">
                        <a [routerLink]="['/course', lesson.course?.id, 'view']">{{lesson.course?.name.toUpperCase()}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lesson', lesson.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
